<!DOCTYPE html>
<html>
<head>
  <title>AppStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Apps", '/apps' %> | <%= link_to "Users", '/users' %>

<%= yield %>

</body>
</html>
