<h1>Players</h1>
<p><%= link_to 'New player', new_player_path %></p>
<p>
  <% Player::JOBS.each do |job| %>
    <%= link_to job, root_path(job: job) %>
  <% end %>
</p>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.name, player %>
      (<%= player.job %>)
      | <%= player.health %>
      | <%= player.magic %>

      <% unless player.is_alive %>
        | Dead
      <% end %>
    </li>
  <% end %>
</ul>
