<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<%= image_tag @book.image.url %>
<%= image_tag @book.image.url(:medium) %>
<%= image_tag @book.image.url(:thumb) %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
