<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published? %>
</p>
<h3>Article has <%=@article.comments.count%> Comments</h3>

<dl>
<% @article.comments.each do |comment|
  comment_str = comment.body? ? comment.body : 'Empty Comment'
 %>

  <dt><%=link_to Comment, comment_path(comment) %></dt>
  <dd>
    <% if comment.user %>
    Created by: <%=comment.user.email%>
    <% end %>
    <p><%= comment_str%></p>
  </dd>
<% end %>
</dl>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
